@import "vars";

@-webkit-keyframes animate-circle {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0;
    }
}

@keyframes animate-circle {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0;
    }
}

.full-screen {
    max-width: 100% !important;
    max-height: 100vh !important;
    overflow: hidden;
}

.l-wrap {
    background: #fff;
    z-index: 500;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}

.loader {
    --size: 10rem;
    
    position: fixed;
    top: 50%;
    left: 50%;
    height: var(--size);
    width: var(--size);
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.loader > .circle {
    --duration: 2s;
    position: absolute;
    height: inherit;
    width: inherit;
    background: $accent;
    border-radius: 50%;
    -webkit-animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
            animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
}

.loader > .circle:nth-of-type(1) {
    -webkit-animation-delay: 0;
            animation-delay: 0;
}

.loader > .circle:nth-of-type(2) {
    -webkit-animation-delay: calc(var(--duration) / -3);
            animation-delay: calc(var(--duration) / -3);
}

.loader > .circle:nth-of-type(3) {
    -webkit-animation-delay: calc(var(--duration) / -6);
            animation-delay: calc(var(--duration) / -6);
}