@import "preloader";
@import "reset";
@import "vars";
@import "animate";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	max-width: 1440px;
	margin: 0 auto;
	min-height: 6000px; //---temp
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

a, a:focus {
	outline: none !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

a:hover {
	cursor: pointer;
}

.radius {
	border-top-left-radius: 10%;
	border-bottom-right-radius: 10%;
	overflow: hidden;
}

.elipse {
	width: 20rem;
	height: 20rem;
	border: 4.625rem solid #b7b7b7;
	opacity: 0.1;
	border-radius: 100%;
	z-index: 10;
	position: absolute;
	&-header {
		top: -8rem;
		right: -7rem;
	}
	&-aside {
		bottom: 0;
		right: -10rem;
	}
	&-right {
		top: 0;
		right: -10rem;
		z-index: -1;
	}
	&-left {
		bottom: 0;
		left: -10rem;
		z-index: -1;
	}
}

.page {
	&-cell {
		max-width: 1440px;
		padding: 0 3.8125rem;
	}
	&-headline {
		color: #0c0c0c;
		font-size: 2.375rem;
		font-weight: 700;
		line-height: 1.05;
		&--alt {
			color: #fff;
			font-size: 2.375rem;
			font-weight: 700;
			line-height: 1.05;
		}
	}
	&-button {
		background: $accent;
		border: none;
		border-radius: 10rem;
		color: #ffffff;
		font-weight: 400;
		padding: 1.5rem 3.3rem;
		&--alt {
			background: #fff;
			color: $accent;
			border: none;
			border-radius: 10rem;
			font-weight: 400;
			padding: 1.5rem 3.3rem;
		}
		&:hover, &--alt:hover {
			animation: jello 1s ease;
		}
		&:active, &--alt:active {
			transition: .5s ease all;
			transform: scale(.9);
		}
	}
}




//---HEADER


.page-header, .first-section {
	width: 100%;
	background-color: $accent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__wrapp {
		position: relative;
		max-width: 1004px;
		background: $accent;
		padding-left: 3.8125rem;
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	 .aside {
		max-width: 441px;
		flex: 1;
		background: #fff;
		position: relative;
		overflow-x: hidden;
	}
}

.logo {
	&__link {
		color: #fff;
		font-size: 2.188rem;
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
	}
}




.main-menu {
	margin-left: -9rem;
	z-index: 50;

	&__list {
		display: flex;
	}
	&__item {
		margin: 1.25rem;
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -4.2rem;
			left: -100%;
			width: 100%;
			height: 4px;
			background: #fff;
			transition: .5s left ease;
			opacity: 0;
		}
		&:hover {
			&:before {
				left: 0;
				opacity: 1;
			}
		}
		}
	&__link {
		color: #fff;
	}
	.active {
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -4.2rem;
			left: 0;
			width: 100%;
			height: 4px;
			background: #fff;
			opacity: 1;
		}
	}
}

.social {
	display: flex;
	color: #fff;
	z-index: 20;
	&__item {
		margin-right: 1.5rem;
		color: #fff;
		&:hover {
		animation: 1s jello ease;
	}
	}
	&__link {
		color: #fff;
	}
}

.aside-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 4.2rem 2rem;
		position: relative;
		z-index: 100;
		&__language {
			font-size: 1rem;
			font-weight: 400;
			text-transform: uppercase;
			color: #0d0d0d;
			z-index: 20;
			.language-link:last-child {
				border-left: 1px solid #0d0d0d;
				padding-left: 4px;
			}
			.active {
				color: $accent;
			}
		}
		&__forum {
			&:hover{
				color: $accent;
				i {

					color: #0d0d0d;
				}
			}
		}
	}

	.hamburger {
		display: none;
	}

	.hamburger-inner {
		width: 20px;
		right: 0;
		&:before {
			left: -4px !important;
		}
	}

	.is-active {
		.hamburger-inner {
			width: 24px;
			right: 0;
			&:before {
				left: -48px !important;
			}
		}
	}







	//---FIRST-SECTION


	.first-section {
		align-items: stretch;
		color: #fff;
		max-width: 100%;
		position: relative;
		min-height: 840px;
		.owl-nav {
			z-index: 100;
		}

		.owl-dots {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: -3rem;
			top: 50%;
			transform: translateY(-50%);
			.owl-dot {
				span {
					background-color: transparent !important;
					border: 1px solid #fff !important;
				}
			}
		}

.owl-dot.active span {
	background-color: #fff !important;
}
		&__wrapp {
			max-width: 100%;
			position: relative;
		}
		&__object {
			position: absolute;
			&:nth-of-type(1) {
				top: -4rem;
				left: -8rem;
			}
			&:nth-of-type(2) {
				top: 16rem;
				left: -17rem;
			}
			&:nth-of-type(3) {
				top: 38rem;
				left: -16rem;
			}
			&:nth-of-type(4) {
				right: 17rem;
				bottom: -100px;
			}
		}
		&__slider {
			max-width: 456px;
			padding-right: 1rem;
			}
		&__item {
			width: 100%;
			padding: 14rem 0;
		}
		&__headline {
			font-size: 2.5rem;
			font-weight: 700;
			line-height: 1.38;
		}
		&__description {
			font-size: 1.313rem;
			font-weight: 400;
			line-height: 1.62;
			margin: 2.5rem 0;
		}
		.video-slider {
			width: 32.688rem;
			height: 35.375rem;
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			right: 0;
			top: 6rem;
			transform: translateX(50%);
			box-shadow: 0.688rem 1.813rem 2.875rem 0.313rem rgba(12, 12, 12, 0.1);
		}
		.video-item {
			width: 100%;
			height: 100%;
			padding-top: 35.375rem;
			position: relative;
		}
		.video-link {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			display: block;
			background: rgba(0,99,255, .39);
			&:after {
				content: "\eca6";
				display: inline-block;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				font-family: "IcoFont";
				font-size: 6rem;
				color: rgba(255,255,255, 1);
			}
		}
	}



.button-wrap {
	position: absolute;
	font-size: 2rem;
	bottom: 4rem;
	right: .7rem;
	transform: translateX(50%);
	z-index: 100;
	max-width: 500px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.mySliderButton {
	padding: .7rem 1rem;
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: rgba(0,0,0, .1);
	}
	&:active {
		transform: scale(.9);
	}
}
.myNext {
	color: $accent;
	border-color: $accent;
}


//---SECTION PARTNER

.section-partner {
	&__link {
		color :#0d0d0d;
		opacity: 0.3;
		font-size: 7rem;
		display:block;
		text-align: center;
		margin: 2rem 0;
		box-shadow: 3px 5px 19px 5px rgba(12, 12, 12, 0);
		transition: box-shadow, transform .5s ease;
		&:hover {
			box-shadow: 3px 5px 19px 5px rgba(12, 12, 12, 0.05);
			opacity: 1;
			transform: scale(1.1);
			.icofont-brand {
				&-adidas {
					color: #000;		
				}
				&-acer {
					color: #81B722
				}
				&-citibank {
					color: #02386C;
				}
				&-cannon {
					color: #D91A20;
				}
				&-alipay {
					color: #0B98EB;
				}
				&-cocal-cola {
					color: #EC030A;
				}
				&-intel {
					color: #0871C3;
				}
				&-shell {
					color: #E61B22;
				}
				&-wordpress {
					color: #207196;
				}
				&-java {
					color: #106CAF;
				}
				&-adobe {
					color: #E61B22;
				}
				&-xiaomi {
					color: #F74705;
				}
			}
		}
	}
}








//---SECTION MOBILE

.section-mobile {
	background-image: url("../img/bg-1.png");
	background-position: left 7rem;
	background-repeat: no-repeat;
	background-size: 28rem;
	border-left: 1px solid transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	&__img {
		margin-left: 15%;
		max-width: 100%;
	}
	&__wrap {
		max-width: 31.375rem;
		flex: 1 434px;
		margin-right: 5.75rem;
		margin-left: auto;
	}

	&__description {
		margin: 2.8rem 0;
		opacity: 0.7;
		color: #0c0c0c;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.63;
	}
}




//---SECTION TABLET


.section-tablet {
	background-image: url("../img/bg-2.png");
	background-position: 101% 0;
	background-repeat: no-repeat;
	background-size: 28rem;
	border-right: 1px solid transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	margin: 5rem 0;
	overflow-x: hidden;
	&__img {
		max-width: 53.25rem;
		margin: -1rem -5rem 0 auto;
	}
	&__wrap {
		max-width: 31.3758rem;
		flex: 1 434px;
		margin-left: 4rem;
		margin-right: auto;
	}

	&__description {
		margin: 2.8rem 0;
		opacity: 0.7;
		color: #0c0c0c;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.63;
	}
}



//---SECTION DESING


.section-desing {
	background-image: url("../img/bg-3.png");
	background-position: -1.3rem 7rem;
	background-repeat: no-repeat;
	background-size: 28rem;
	border-left: 1px solid transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 2.5rem 1rem;
	&__img {
		margin-left: 4.5%;
		margin-right: 1rem;	
		margin-top: 4rem;
		max-width: 100%;
	}
	&__wrap {
		max-width: 31.375rem;
		flex: 1 434px;
		margin-right: 5rem;
		margin-left: auto;
	}

	&__description {
		margin: 2.8rem 0;
		opacity: 0.7;
		color: #0c0c0c;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.63;
	}
}






//---SECTION ACORD

.section-acord {
	background: $accent;
	margin-top: 7.75rem;
	padding: 6.25rem 3.75rem;
	color: #fff;
	position: relative;
	.page-headline--alt {
		max-width: 33.563rem;
		margin-bottom: 3.125rem;
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__wrap {
		max-width: 37rem;
		display: inline-block;
	}
	&__item {
		//margin-top: 3.125rem;
		&:last-child .section-acord__description {
			border-left: none;
		}
	}
	&__headline {
		font-size: 1.25rem;
		line-height: 1.62;
		cursor: pointer;
		display: inline-block;
		margin: .3rem 0;
		&:hover .section-acord__span, .active {
			background-color: rgba(255,255,255, 1);
			color: #2068b0;
		}
	}
	&__span {
		color: #fff;
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.62;
		background-color: rgba(255,255,255, .1);
		padding: 7.6px 15px;
		border-radius: 50%;
		margin-left: -1.2rem;
		margin-right: 2rem;
		transition: background-color .3s;
	}
	&__description {
		line-height: 1.5;
		border-left: 4px solid rgba(255,255,255, .1);
		padding: 1rem 0 3.25rem 3.25rem;
		position: relative;
	}

	&__hidden {
		position: absolute;
		left: -999999em;
		opacity: 0;
		display: block;
		height: 0;
		overflow-y: hidden;
		transition: height 1s;
	}
	&__open {
		position: relative;
		left: 0;
		opacity: 1;
		height: 6rem;
	}
	&__img {
		max-width: 523px;
		max-height: 526px;

	}
}













//--- SECTION ACCOUNT

.section-account {
	padding: 6.25rem 0;
	color: #0d0d0d;
	overflow-x: hidden;
	position: relative;
	&__wrap {
		position: relative;
	}
	&__headline {
		text-align: center;
	}
	&__item {
		max-width: 54.563rem;
		width: 100%;
		margin: 5rem auto;
		box-shadow: 0.688rem 1.813rem 2.875rem 0.313rem rgba(12, 12, 12, 0.1);
		background-color: #fff;
		padding: 6.56rem 9.43rem 3.68rem 9.43rem;
		position: relative;
		overflow: unset;
	}
	&__comment {
		font-size: 1.775rem;
		font-weight: 500;
		position: relative;
		text-align: center;
		&:before {
			content: '\201c';
			display: inline-block;
			opacity: .6;
			color: #0d0d0d;
			font-size: 6.688rem;
			font-weight: 400;
			font-family: sans-serif;
			position: absolute;
			top: -1.5rem;
			left: -3rem;
			line-height: 1;
		}
	}
	&__author {
		margin-left: 9.945rem;
		margin-top:  7.875rem;;
	}
	&__img {
		position: absolute;
		bottom: -2rem;
		left: 5rem;
		box-shadow: 0.688rem 1.813rem 2.875rem 0.313rem rgba(12, 12, 12, 0.1);
		max-width: 200px !important;
	}
	&__name {
		font-size: 1.375rem;
		font-weight: 700;
	}
	.owl-nav {
		position: relative;
		max-width: 873px;
		margin: 5rem auto 0 auto;
		button {
			position: absolute;
			top: 0;
			background: transparent !important;
			border: 1px solid $accent !important;
			color: $accent !important;
			cursor: pointer !important;
			&:hover {
				background: rgba(0,99,255, .3) !important;
				color: #fff;
			}
			&:active {
				transform: scale(.9) !important;
			}
			& i {
				padding: .7rem 1rem !important;
				display: inline-block;
			}
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	.owl-dots {
		text-align: center;
		button {
			width: 37px;
			height: 4px;
			display: inline-block;
			margin: 0 10px;
			z-index: 10;
		}
		span {
			background-color: #0d0d0d;
			opacity: 0.2;
			width: 37px;
			height: 4px;
			display: inline-block;
		}
		.active span {
			background-color: $accent;
			opacity: 1;
		}
	}
}






//---SECTION VALUE 

.section-value {
	background-color: #eb588a;
	background-image: url("../img/bg-grid-2.png");
	padding: 4.81rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	flex-wrap: wrap;
	&__wrap {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex: 1 366px;
		flex-wrap: wrap;
	}
	&__item {
		display: inline-block;
		text-align: center;
		flex: 1 1 120px;
	}
	&__tale {
		display: block;
		font-size: 3.375rem;
		font-weight: 500;
	}
	&__description {
		font-size: 1.125rem;
	}
}







//--- SECTION NEWS 

.section-news {
	padding: 6.25rem 3.81rem;
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;
	&__wrap {
		//max-width: 33.313rem;
		margin: 1rem;
		flex: 1.416 1 533px;
	}
	&__item {
		box-shadow: 0.063rem 0.125rem 2rem rgba(12, 12, 12, 0.06);
		margin-bottom: 2rem;
	}
	&__headline {
		color: #0c0c0c;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 2.22;
	}
	&__img {
		max-width: 100%;
		width: 100%;
		min-height: 200px;
	}
	&__content {
		padding: 2rem;
	}
	&__text {
		margin-top: 1.3125rem;
		margin-bottom: 2.875rem;
		color: #0c0c0c;
		opacity: .7;
	}
	&__description {
		color: #0c0c0c;
		line-height: 1.63;
		margin-top: 1.8125rem;
		margin-bottom: 5.8125rem;
	}
	&__aside {
		flex: 2 2 533px;
		margin: 1rem;
	}
	&__backface{
		position: relative;
		z-index: 5;
		.backface-button {
			color: #0c0c0c;
			position: absolute;
			left: 50%;
			top: -999999em;
			transition: transform .7s;
			transform: translateX(-50%) translateY(-200%);
			z-index: 50;
			opacity: 0;
			&:hover {
				animation: none;
				background: $accent;
				color: #fff;
			}
			i {
				margin-right: 1rem;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 10;
			background: linear-gradient(-135deg, #f4516c 0%, #983af0 100%);
			opacity: 0;
			transition: opacity .5s;
		}
		&:hover:before {
			opacity: .7;
		}
		&:hover .section-news__view {
			left: 1rem;
			opacity: 1;
			transform: translateX(0);
		}
		&:hover .backface-button {
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			opacity: 1;
		}
	}
	&__time {
		background: $accent;
		display: inline-block;
		color: #fff;
		position: absolute;
		top: 1rem;
		left: 1rem;
		text-align: center;
		z-index: 50;
	}
	&__month {
			border-top: 1px solid #fff;
		}
	&__date, &__month {
		padding: 1rem 1.2rem;
		transition: all .5s;
		cursor: pointer;
		&:hover {
			background: #fff;
			color: $accent;
		}
	}
	&__view {
		color: #fff;
		background: rgba(255,255,255, .37);
		border-radius: 3rem;
		position: absolute;
		bottom: 1rem;
		z-index: 50;
		padding: 1.5px 24.5px;
		opacity: 0;
		left: -999999em;
		transition: transform .7s;
		transform: translateX(-100%);
	}
	&__button {
		background: $accent;
		border: none;
		border-radius: 10rem;
		color: #ffffff;
		font-weight: 400;
		padding: 1rem 2rem;
		&--alt {
			background: #fff;
			color: $accent;
			border: none;
			border-radius: 10rem;
			font-weight: 400;
			padding: 1rem 2rem;
		}
		&:hover, &--alt:hover {
			animation: jello 1s ease;
		}
		&:active, &--alt:active {
			transition: .5s ease all;
			transform: scale(.9);
		}

	}
	&__tag {
		color: #0063ff;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 3.33;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}









//---PAGE FOOTER


.page-footer {
	background-color: rgba(0,99,255, .08);
	padding: 6.25rem 4rem 2rem 4rem;
	overflow: hidden;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:last-child {
			border-top: 1px solid rgba(12,12,12, .1);
			padding-top: 1rem;
		}
	}
}

.footer {
	&-logo {
		&__link {
			color: #0063ff;
			font-size: 2.188rem;
			font-weight: 700;
			line-height: 1.14;
			text-transform: uppercase;
		}
	}
	&-menu {
		display: inline-block;
		margin: 0;
		margin-left: auto;
		&__item {
			&:before {
				display: none;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&__link {
			color: #0c0c0c;
			font-size: 0.875rem;
			line-height: 2.57;
			letter-spacing: 0.038rem;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&-social {
		&__link {
			color: #0c0c0c;
		}
	}
	&-copy {
		color: #0c0c0c;
		font-size: 0.875rem;
		line-height: 2.57;
		letter-spacing: 0.038rem;
	}
}


@import "media"; // Always at the end
